<div class="container mb-4">
  <div class="h2" style="font-weight: bolder;">الطرف الاخر</div>
  <br>
  <div class="row">
    <div class="col-3 rounded" >
      <img src="../../../../assets/Images/1.jpg" width="100%" style="border-radius: 2%;" alt="">
    </div>
    <div class="col-5">
      <div class="h3">علي سامي</div>
      <div class="h3">ali@gmail.com</div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="h2 mb-4" style="font-weight: bolder;">الطرف الاخر</div>
  <div class="row">
    <div class="col-3 rounded" >
      <img src="../../../../assets/Images/1.jpg" width="100%" style="border-radius: 2%;" alt="">
    </div>
    <div class="col-5">
      <div class="h3">علي سامي</div>
      <div class="h3">ali@gmail.com</div>
    </div>
  </div>

  <br>
  <hr>
  <br>
  <div class="h2 mb-4" style="font-weight: bolder;">تفاصيل المعاينة</div>
  <div class="row">
    <div class="col-3 rounded" >
      <img src="../../../../assets/Images/1.jpg" width="100%" style="border-radius: 2%;" alt="">
    </div>
    <div class="col-5">
      <div class="h3">علي سامي</div>
      <div class="h3">ali@gmail.com</div>
    </div>
  </div>
</div>
