<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="text-align: right;">
      <img src="../assets/Images/logo.png" alt="" height="7%" width="5%" class="d-inline-block align-text-top">
      <span>سكني</span>
    </a>

    <!-- <div class="navBarSearch">
      <form class="d-flex">
        <input class="form-control ms-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div> -->

    <div class="navBarSearch1" dir="ltr">
      <!-- <ul> -->
      <!-- <li> -->
      <!-- <span class="first">
        <a (click)="registerClick()" *ngIf="!userName">
          <i class="fa fa-user"></i>
          <span class="ms-2" style="font-weight: 800;">تسجيل الدخول</span>

        </a>

        <a (click)="registerClick()" *ngIf="userName">
          <i class="fa fa-user" *ngIf="!personalPhoto"></i>
          <img [src]="personalPhoto" width="25px" height="25px" style="border-radius: 50%;" alt="" srcset=""
            *ngIf="personalPhoto">
          <span class="ms-2">{{userName}}</span>
        </a>
      </span> -->
      <!-- </li> -->
      <!-- <li> -->
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
        style="bottom: 8px; right: 5px;">
        <i class="fa fa-user"></i>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item style="right: 48px">
          <span class="first">
            <a style="color: black;" (click)="registerClick()" *ngIf="!userName">
              <i class="material-icons">account_circle</i>
              <span class="ms-2" style="font-weight: 800; color: black;">تسجيل الدخول</span>

            </a>

            <a (click)="registerClick()" *ngIf="userName ">
              <span style="color: black;" *ngIf="!personalPhoto">
                <i class="material-icons">account_circle</i>
              </span>

              <span style="color: black;" *ngIf="personalPhoto">
                <img [src]="personalPhoto" width="25px" height="25px" style="border-radius: 50%;" alt="" srcset="">
              </span>
              <span class="ms-2" style="color: black;">{{userName}}</span>
            </a>
          </span>
        </button>


        <button mat-menu-item>
          <a (click)="logout()" href=" '' " style="color: black;"><i class="material-icons">exit_to_app</i>تسجيل
            الخروج</a>
        </button>
      </mat-menu>

      <a href="#" *ngIf="userName"><i class="fa fa-bell"></i></a>

      <a *ngIf="userName"><i class="fa fa-envelope text-warning" (click)="clickHere()"
          (mouseleave)="closeChat()"></i></a>

      <a *ngIf="userName" href="offer/offers"><i class="fa fa-ticket"></i></a>


      <a href="#"><i class="fa fa-heart"></i></a>

      <a *ngIf="userName && token" href="unit/add" (click)="toAddUnit()"><i class="fa fa-plus"></i></a>

    </div>
  </div>


</nav>

<div class="chat" *ngIf="showChat">
  Helllo
</div>
<router-outlet></router-outlet>

<footer dir="ltr" class="container-fluid"
  style="position: relative; bottom: 0; background-color: black; color: white; text-align: end;">
  <div class="container">
    <br>
    <h2>
      شركة عقارات
    </h2>
    <p style="color: orange;  ">
      خدمات سكني تساعدك على بيع وشراءالعقارات بسهولة
      <br>
      بالاضافة إلى تزويدك بمعلومات أساسية
      لاتخاذ واحد من أهم القرارات المالية في حياتك
    </p>
    <br>
    <div>
      <a href="">
        <img style="width: 30px; border-radius: 50px;" src="../assets/Images/Facebook-icon.png">
      </a>
      &nbsp;
      <a href="">
        <img style="width: 30px; border-radius: 50px;" src="../assets/Images/google+.png">
      </a>
      &nbsp;
      <a href="">
        <img style="width: 30px; border-radius: 50px;" src="../assets/Images/linkedin.png">
      </a>

      &nbsp;


      <!-- <img style="width: 50px; border-radius: 50px;"
        src="https://winfreydesignbuild.com/site/wp-content/uploads/soft-contemporary-24-e1466783187639.jpg"> -->
    </div>
    <br>
    <span style="height: 2px;
    background-color: orange;
    display: block;
    padding: 0;"></span>

  </div>
  <div class="container">
    <div class="row" style="text-align: center;">
      <a style="color: orange !important;" href="#" class="col-2">شركة عقارات</a>
      <span class="col-1"></span>
      <a href="#" class="col-2">الشروط والاحكام</a>

      <a href="#" class="col-1"> اتصل بنا</a>

      <a href="#" class="col-1"> بحث</a>

      <a href="#" class="col-1"> الرئيسية</a>
      <span class="col-1"></span>

      <a style="color: orange !important;" href="#" class="col-3">©Copyright 2023-Skany</a>

      <br>
      <br>
    </div>
  </div>

</footer>
