label{
  height: 31px;
}

*{
  color: black;
}
.caption
{
  background-color: #00000069;
  border-radius: 50px;
  bottom: 17%;
  font-size: 20px;
}

.carsol img{
  width: 100%; height: 615px;
}

.searchFor .col-2{
  color: orange;
  background-color: #e2e2e2;
  border-radius: 25px;
  display: inline-block;
  margin-left: 30px;
  margin-left: 22px;
  width: 200px;
  cursor: pointer;
}
.searchFor .col-2 .fa{
  font-size: 70px;
}
.searchFor .col-2 svg{
  font-size: 70px;
}

a{
  text-decoration: none;
  color: white;
}
.kFfIVJ {
  position: relative;
  background-color: white;
  border: 1px solid rgb(176, 176, 176);
  padding: 16px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  width: calc((100% - 172px) / 6);
  min-width: 160px;
  height: 55px;
  gap: 4px;
}
